.total {
	float: right;
    padding-right: 50px;
    font-size: 25px;
	font-weight: bold;
}

.basket-header {
	font-size: 26px;
}

.changeQuantity {
	width: 12%;
    text-align: right;
}

.btn-primary {
	float: right;
}
